.home-background {
  background-image: url('/assets/img/test.gif');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.home-message {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

ion-col {
  padding: 20px;
}

@keyframes breathing {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.15);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.home-message {
  animation: breathing 3s ease-in-out infinite;
}

/* Estilo botones */
.btn-custom {
  --background: #FFFFFF; 
  --color: #3E2723; 
  --border: 2px solid #D3D3D3;
  --box-shadow: none; 
  transition: background-color 0.3s, border-color 0.3s; 
}

.btn-custom:hover {
  --background: #F0F0F0; 
  --border: 2px solid #A9A9A9; 
}
